<p id="notice"><%= notice %></p>

<p>
  <strong>Deck:</strong>
  <%= @score.deck %>
</p>

<p>
  <strong>User:</strong>
  <%= @score.user %>
</p>

<p>
  <strong>Score:</strong>
  <%= @score.score %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
