<p id="notice"><%= notice %></p>


<p>
<img src="<%= @user.photo  %>" />
</p>
<p>
  <%= @user.name_first %>
  <%= @user.name_last %>
  <%= link_to 'Edit', edit_user_path(@user) %>

</p>

<p>
  <%= @user.email %>
</p>

<p>
  <strong>Lifetime score:</strong>
  <%= @user.lifetime_score %>
</p>

<%= link_to '<<', users_path %>
