<p id="notice"><%= notice %></p>

<p>
  <strong>Name first:</strong>
  <%= @user.name_first %>
</p>

<p>
  <strong>Name last:</strong>
  <%= @user.name_last %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Lifetime score:</strong>
  <%= @user.lifetime_score %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
