<p id="notice"><%= notice %></p>

<div id="profile">
  <p>
    <img class="profile" src="<%= @user.photo  %>"/>
  </p>
  <p>
    <%= @user.name_first %>
    <%= @user.name_last %>
    <%= link_to 'Edit', edit_user_path(@user) %>

  </p>

  <p>
    <%= @user.email %>
  </p>

  <p>
    <strong>Lifetime score:</strong>
    <%= @user.lifetime_score %>
  </p>
  <hr>
</div> <!-- main div profile -->
<div class="badge-container">
  <h3>Achievements</h3>
  <p> Earn more badges by scoring points on decks!<p>
  <% if @user.lifetime_score >= 0 %>
  <div class="youngScholar inline"></div>
  <% end %>
  <% if @user.lifetime_score >= 50 %>
  <div class="firstFifty inline"></div>
  <% end %>
  <% if @user.lifetime_score >= 100 %>
  <div class="hundredClub inline"></div>
  <% end %>
  <% if @user.lifetime_score >= 200 %>
  <div class="twoHundredClub inline"></div>
  <% end %>
  <% if @user.lifetime_score >= 300 %>
  <div class="threeHundredClub inline"></div>
  <% end %>
  <% if @user.lifetime_score >= 400 %>
  <div class="bookWorm inline"></div>
  <% end %>
  <% if @user.lifetime_score >= 600 %>
  <div class="highAchiever inline"></div>
  <% end %>
  <% if @user.lifetime_score >= 800 %>
  <div class="silverCircle inline"></div>
  <% end %>
  <% if @user.lifetime_score > 1500 %>
  <div class="goldCircle inline"></div>
  <% end %>
  <% if @user.lifetime_score >= 3000 %>
  <div class="ninja inline"></div>
  <% end %>

  <hr>
</div> <!-- main div profile -->
<div class="generic-container">
  <h3>Decks</h3>
  <ul id="my-decks-list">

    <% if @myDecks.length == 0 %>
    <p>
      You don't have any decks.. <%= link_to "Create a deck", new_deck_path %>
    </p>
    <% else %>
    <% @myDecks.each do |deck| %>

    <li class="my-deck-name" data-id="<%= deck.id %>">//</li><%= link_to deck.name, deck_path(deck.id)%>
    <% end %>
    <% end %>
  </ul>


  <div class="panel panel-default">
    <div class="panel-heading">
      Recent Scores
    </div>


    <div class="panel-body score-table">
      <% if @myScores.length == 0 %>
      <p>You don't seem to have any scores yet, play a deck to get started!</p>
      <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= link_to 'Deck', :sort => 'deck_id' %></th>
            <th class="t-center"><%= link_to 'Score', :sort => 'score' %></th>
            <th><%= link_to 'Date', :sort => 'created_at' %></th>
          </tr>
        </thead>
      </th>
      <% @myScores.each do |score| %>
      <tr>
        <td><%= score.deck.name %></td>
        <td class="t-center"><%= score.score %></td>
        <td><%= score.created_at.strftime '%e/%m/%y' %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>
</div>
</div>
