<p id="notice"><%= notice %></p>


<div id="profile"><p>
<img class="profile" src="<%= @user.photo  %>" />
</p>
<p>
  <%= @user.name_first %>
  <%= @user.name_last %>
  <%= link_to 'Edit', edit_user_path(@user) %>

</p>

<p>
  <%= @user.email %>
</p>

<p>
  <strong>Lifetime score:</strong>
  <%= @user.lifetime_score %>
</p>
<p><a href="/#user/18/mydecks">My Decks</a></p>
<% if @current_user.present? && @current_user.admin %>
<%= link_to 'All Users', users_path %>
<% end %>
</div>
