<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.collection_select :category_id, @categories.order(:name),:id, :name, {class:"form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <% if @current_user.admin == true %>
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, class:"form-control" %>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :tag_list %><br>
    <%= f.text_field(:tag_list , class:"form-control", value: @deck.tag_list.join(", ")) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
