<div class="home-container">
  <h1>Deck Details</h1>
<% if notice %>
<p id="notice"><div class="alert alert-success" role="alert"><%= notice %></div></p>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">  <%= @deck.name %> </h3> <span><%= link_to 'Edit Deck', edit_deck_path(@deck) %></span>

  </div>
  <div class="panel-body">
    Owner: <%= @deck.user.name_first %> <%= @deck.user.name_last %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Cards</h3> <span><%= link_to 'Add a card', new_card_path %></span>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><strong>Question</strong></th>
          <th><strong>Answer</strong></th>
          <th><strong>Actions</strong></th>

        </tr>
      </thead>
<tbody>
  <% @deck.cards.each do |card| %>

  <tr>
    <td><%= card.question %></td>
    <td><%= card.answer %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %>
      <%= link_to 'Remove', card_remove_path(card), method: :post %>
</td>

  </tr>

<% end %>
</tbody>
</table>
  </div>
</div>






<%= link_to 'Back to Decks', decks_path %>
</div>
